@charset "UTF-8";

header {
  background: url('../assets/header-bg.png') no-repeat center center fixed;
  background-size: cover;
}

header a {
  color: red;
  text-decoration: none;
}
body {
 
  /*color: white;*/
  background: url('../assets/logo.png') no-repeat center center fixed;
  background-size: cover;
  
}

footer {
  color: var(--bs-red);
}

.spoiler{ 
  color: var(--bs-red); 
  background-color:var(--bs-red);
  padding: 2px;
  border-radius: 3px;
}

.spoiler:hover{
  color: white;
  }


